<h1>User Details</h1>
<form #userForm="ngForm" (ngSubmit)="getUserFormData(userForm.value)">
  <label>Enter your name:</label>
  <input type="text" ngModel name="name">
  <br><br>
  <label>Email:</label>
  <input type="email" ngModel  name="email">
  <br><br>
  <label>Phone number:</label>
  <input type="tel" ngModel  name="phoneno">
  <br><br>
  <button>Add New User</button>
</form>

<!--<form [formGroup]="userForm" (ngSubmit)="getUserFormData(userForm.value)">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Email</label>
    <input type="email" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Phone number</label>
    <input type="tel" class="form-control" id="exampleInputPassword1">
  </div>
  <button type="submit" class="btn btn-primary">Add new user</button>
</form>-->


<h1 class="title">List of API Data</h1>
<table border="1">
  <tr>
    <td>Id</td>
    <td>Name</td>
    <td>Email</td>
    <td>Phone</td>
    <td>Action</td>
  </tr>
  <tr *ngFor="let item of users">
    <td>{{item.id}}</td>
    <td>{{item.name}}</td>
    <td>{{item.email}}</td>
    <td>{{item.phoneno}}</td>
    
    <td>
      <a routerLink="/update/{{item.id}}">
      <button><a href="update" style="text-decoration: none;color: black;">Edit</a></button></a>
      
      
      <button (click)="deleteUser(item.id)">Delete</button>
    </td>
    
 </tr>
</table>
<router-outlet></router-outlet>